{
    "env": {
        "browser": true
    },
    "extends": ["eslint:recommended"],
    "overrides": [{
        "files":["*.ts"],
        "parser": "@typescript-eslint/parser",
        "plugins": ["@typescript-eslint"]
    }],
    "rules": {
        "no-unused-vars":"warn",
        "no-console":"warn"
    }
}