.button {
  width: 100%;
  border: none;
  padding: 0;
  transition: background 0.2s;
  cursor: pointer;
  background: transparent;
}
.container {
  display: flex;
  justify-content: space-between;
  padding-left: var(--space-24);
  padding-right: var(--space-24);
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  color: var(--on-surface);
  align-items: center;
}
.dayName {
  font-size: 26px;
}
.taskCompletion {
  font-size: 20px;
}

.active {
  background: var(--primary-container);
}
