.container {
  display: flex;
}
.checkbox {
  margin-right: var(--space-8);
}
.close {
  path {
    fill: var(--on-secondary-container);
  }
}
.task {
  padding-left: var(--space-24);
  padding-right: var(--space-24);
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  background: var(--secondary-container);
  color: var(--on-secondary-container);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: var(--radius-4);
}
.task_heading {
  user-select: none;
  outline: none;
  cursor: pointer;
}
