:root {
  --source: #36ae7c;
  /* primary */
  --primary0: #000000;
  --primary10: #002113;
  --primary20: #003824;
  --primary25: #00452c;
  --primary30: #005235;
  --primary35: #005f3f;
  --primary40: #006c48;
  --primary50: #00885c;
  --primary60: #28a473;
  --primary70: #4bbf8c;
  --primary80: #69dca6;
  --primary90: #86f8c0;
  --primary95: #bfffda;
  --primary98: #e8ffef;
  --primary99: #f4fff6;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #0a1f15;
  --secondary20: #20352a;
  --secondary25: #2b4034;
  --secondary30: #364b3f;
  --secondary35: #41574b;
  --secondary40: #4d6356;
  --secondary50: #667c6e;
  --secondary60: #7f9687;
  --secondary70: #99b1a1;
  --secondary80: #b4ccbc;
  --secondary90: #d0e8d8;
  --secondary95: #def7e6;
  --secondary98: #e8ffef;
  --secondary99: #f4fff6;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #001f28;
  --tertiary20: #063543;
  --tertiary25: #16404e;
  --tertiary30: #234c5a;
  --tertiary35: #305866;
  --tertiary40: #3c6472;
  --tertiary50: #567d8c;
  --tertiary60: #6f96a6;
  --tertiary70: #89b1c2;
  --tertiary80: #a4cddd;
  --tertiary90: #c0e9fa;
  --tertiary95: #ddf4ff;
  --tertiary98: #f3fbff;
  --tertiary99: #f9fdff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #191c1a;
  --neutral20: #2e312f;
  --neutral25: #393c39;
  --neutral30: #444845;
  --neutral35: #505350;
  --neutral40: #5c5f5c;
  --neutral50: #757874;
  --neutral60: #8f918e;
  --neutral70: #a9aca8;
  --neutral80: #c5c7c3;
  --neutral90: #e1e3df;
  --neutral95: #eff1ed;
  --neutral98: #f8faf6;
  --neutral99: #fbfdf8;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #151d19;
  --neutral-variant20: #2a322d;
  --neutral-variant25: #353d38;
  --neutral-variant30: #404943;
  --neutral-variant35: #4c544e;
  --neutral-variant40: #58605a;
  --neutral-variant50: #707973;
  --neutral-variant60: #8a938c;
  --neutral-variant70: #a4ada6;
  --neutral-variant80: #c0c9c1;
  --neutral-variant90: #dce5dd;
  --neutral-variant95: #eaf3eb;
  --neutral-variant98: #f3fcf3;
  --neutral-variant99: #f6fff6;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: #006c48;
  --on-primary-light: #ffffff;
  --primary-container-light: #86f8c0;
  --on-primary-container-light: #002113;
  --secondary-light: #4d6356;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #d0e8d8;
  --on-secondary-container-light: #0a1f15;
  --tertiary-light: #3c6472;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #c0e9fa;
  --on-tertiary-container-light: #001f28;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fbfdf8;
  --on-background-light: #191c1a;
  --surface-light: #fbfdf8;
  --surface1-light: #eff7f0;
  --surface2-light: #e8f3eb;
  --surface3-light: #e1eee6;
  --surface4-light: #d9eae0;
  --on-surface-light: #191c1a;
  --surface-variant-light: #dce5dd;
  --on-surface-variant-light: #404943;
  --outline-light: #707973;
  --inverse-on-surface-light: #eff1ed;
  --inverse-surface-light: #2e312f;
  --inverse-primary-light: #69dca6;
  --shadow-light: #000000;
  --surface-tint-light: #006c48;
  --outline-variant-light: #c0c9c1;
  --scrim-light: #000000;
  /* dark */
  --primary-dark: #69dca6;
  --on-primary-dark: #003824;
  --primary-container-dark: #005235;
  --on-primary-container-dark: #86f8c0;
  --secondary-dark: #b4ccbc;
  --on-secondary-dark: #20352a;
  --secondary-container-dark: #364b3f;
  --on-secondary-container-dark: #d0e8d8;
  --tertiary-dark: #a4cddd;
  --on-tertiary-dark: #063543;
  --tertiary-container-dark: #234c5a;
  --on-tertiary-container-dark: #c0e9fa;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #191c1a;
  --on-background-dark: #e1e3df;
  --surface-dark: #191c1a;
  --surface1-dark: #1D2621;
  --surface2-dark: #1F2B25;
  --surface3-dark: #223129;
  --surface4-dark: #24372E;
  --on-surface-dark: #e1e3df;
  --surface-variant-dark: #404943;
  --on-surface-variant-dark: #c0c9c1;
  --outline-dark: #8a938c;
  --inverse-on-surface-dark: #191c1a;
  --inverse-surface-dark: #e1e3df;
  --inverse-primary-dark: #006c48;
  --shadow-dark: #000000;
  --surface-tint-dark: #69dca6;
  --outline-variant-dark: #404943;
  --scrim-dark: #000000;
  /* display - large */
  --display-large-font-family-name: Roboto;
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 400px;
  --display-large-font-size: 57px;
  --display-large-line-height: 64px;
  --display-large-letter-spacing: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: Roboto;
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400px;
  --display-medium-font-size: 45px;
  --display-medium-line-height: 52px;
  --display-medium-letter-spacing: 0px;
  /* display - small */
  --display-small-font-family-name: Roboto;
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 400px;
  --display-small-font-size: 36px;
  --display-small-line-height: 44px;
  --display-small-letter-spacing: 0px;
  /* headline - large */
  --headline-large-font-family-name: Roboto;
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400px;
  --headline-large-font-size: 32px;
  --headline-large-line-height: 40px;
  --headline-large-letter-spacing: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: Roboto;
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400px;
  --headline-medium-font-size: 28px;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  /* headline - small */
  --headline-small-font-family-name: Roboto;
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400px;
  --headline-small-font-size: 24px;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  /* body - large */
  --body-large-font-family-name: Roboto;
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 16px;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.5px;
  /* body - medium */
  --body-medium-font-family-name: Roboto;
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400px;
  --body-medium-font-size: 14px;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  /* body - small */
  --body-small-font-family-name: Roboto;
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400px;
  --body-small-font-size: 12px;
  --body-small-line-height: 16px;
  --body-small-letter-spacing: 0.4px;
  /* label - large */
  --label-large-font-family-name: Roboto;
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 500px;
  --label-large-font-size: 14px;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.1px;
  /* label - medium */
  --label-medium-font-family-name: Roboto;
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500px;
  --label-medium-font-size: 12px;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.5px;
  /* label - small */
  --label-small-font-family-name: Roboto;
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500px;
  --label-small-font-size: 11px;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.5px;
  /* title - large */
  --title-large-font-family-name: Roboto;
  --title-large-font-family-style: Regular;
  --title-large-font-weight: 400px;
  --title-large-font-size: 22px;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  /* title - medium */
  --title-medium-font-family-name: Roboto;
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 500px;
  --title-medium-font-size: 16px;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  /* title - small */
  --title-small-font-family-name: Roboto;
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 500px;
  --title-small-font-size: 14px;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.1px;
}
